.booking-hero {
    background-color: #025d28;
    background-image: url("/images/booking/booking-bg.png");
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
  }