.navbar{
    background: linear-gradient(180deg, #000000f4 , hsla(0, 0%, 2%, 0) );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.mob a{
    color: black;
    font-weight: 600;
}

.breakfast .flex{
    scrollbar-width:none;
    scroll-behavior: smooth;
}

.breakfast{
    margin-bottom: 100px;   
}

.border-right-1{
    border-right: 0.2px solid #6b6b6b;
}



@media screen and (max-width: 768px) {
    .border-right-1{
        border-right: none;
    }
    
}