@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary-green: #025d28;
  --font-family-sans: "Montserrat", sans-serif;
}

.green-bg {
  background-color: var(--color-primary-green);
}

